<div class="container-fluid">
	<h3 class="text-center">Legenda</h3>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span style="font-weight: bold; font-size: 16px;">Faltas</span></div>
		<div class="col-sm-3"><span style="font-weight: bold; font-size: 16px;">Folgas</span></div>
		<div class="col-sm-2"><span style="font-weight: bold; font-size: 16px;">Férias</span></div>
		<div class="col-sm-2"><span style="font-weight: bold; font-size: 16px;">Horário</span></div>
		<div class="col-sm-2"><span style="font-weight: bold; font-size: 16px;">Formação</span></div>				
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span name="FI">FI</span> -Falta Injustificada</div>
		<div class="col-sm-3"><span name="F">F</span> -Folga</div>
		<div class="col-sm-2"><span name="FE">FE</span> -Férias</div>
		<div class="col-sm-2">M -Manhã</div>
		<div class="col-sm-2"><span name="FO">FO</span> -Formação</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span name="LBF">FJ</span> -Falta Justificada</div>
		<div class="col-sm-3"><span name="FIN">F</span> -Folga Intervenção Noturna</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2">T -Tarde</div>			
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span name="LBF">B</span> -Baixa</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span name="LBF">L</span> -Licença</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span name="NOJO">N</span> -Nojo</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span name="OA">O/A</span> -Outras Ausências</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><span name="E">E</span> -Escala de Sábado</div>
	</div>
</div>