<table class="table table-condensed" id="tableSerials">
  <thead>
    <tr>
      <th>Refencia</th>
      <th>Item</th>
      <th>Qtd</th>
    </tr>
  </thead>      
  <tbody class="itemsSerial">
  </tbody>
</table>