<div class="container-fluid tabDiv" id="paletesDiv" hidden>
	<h5 class="text-center">Paletes</h5>
	<br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10"></div>  
      <div class="col-sm-2">
        <button class="btn btn-red" id="paletesConfirm" style="float: right">Confirmar</button>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid" id="paletesTable"></div>
  <br>
  <div class="container-fluid" id="paletesBoxesTable"></div>
  <br>
</div>
<script src="/js/armazem/recolhas/paletes.js"></script>