<div class="container-fluid">

	<div id= "myModal" class= "modal fade" role="dialog">

		<div class= "modal-dialog">

			<div class = "modal-content">

				<div class = "modal-header" >

					<button type= "button" class="close" data-dismiss="modal" style="color: #3a506b">&times;</button>

					<h4 class="modal-title">Novo Link</h4>

				</div>

				<div class="modal-body">

					<form action="/km_link_insert" method="post">

						<div class="form-group">

							<input type="text" name="name" class="form-control" placeholder="name">

							<br>

							<input type="text" name="link" class="form-control" placeholder="link">

							<br>

							<input type="text" name="tooltip" class="form-control" placeholder="tooltip">

							<br>

							<select class="form-control" name="pass_categoria" placeholder="Password Categoria">

								<option selected value="Rede">Rede</option>
								<option value="IAM">IAM</option>
								<option value="Comum">Comum</option>

							</select>

							<br>

							<select class="form-control" name="categoria" placeholder="categoria">

								<option selected value="Voz">Voz</option>
								<option value="Sinais">Sinais</option>
								<option value="Ferramentas">Ferramentas</option>

							</select>

							<br>

							<input type="hidden" name="user" id="insert1" class="form-control" placeholder="user">

							<br>

							<input type="hidden" name="password" id="insert2" class="form-control" placeholder="password">

						</div>

						<button type="submit" class="btn btn-custom">Submeter</button>

					</form>

				</div>

			</div>

		</div>

	</div>

</div>

<script type="text/javascript">

	$("select.form-control").on("change",function(){

	var value = $(this).val();

	if(value=="Comum"){

		$("#insert1").attr("type", "text")
		$("#insert2").attr("type", "text")

	} else {

		$("#insert1").attr("type", "hidden")
		$("#insert2").attr("type", "hidden")

	}

})

</script>
