<tr>
	<td><%= item.referencia%></td>
	<td><%= item.nome%></td>
	<td><%= item.serial%></td>
	<td><a href="#" title="Remover Item" data-toggle="tooltip_removeItem" class="removeSerialModal"><i class="fa fa-minus" aria-hidden="true"></i></a></td>
</tr>