<% const colName = ['Caixa nº', 'Total Items','Adicionar'] %>
<table class="table">
  <thead>
    <tr>
      <% for (let i in colName) { %>
        <th><%= colName[i] %></th>
      <% } %>
    </tr>
  </thead>      
  <tbody>
    <% for (let i in item) { %>
      <tr>
        <td><%= item[i].caixa %></td>
        <td><%= item[i].sumCaixa %></td>
        <td><input type="checkbox" value="" name="selecTedBox" class="checkbox"></td>
      </tr>
      <% } %>
  </tbody>
</table>